

.navbar {
  margin-bottom: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(241, 161, 200);
}

.container {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 250px;
  display: flex;
  justify-content: space-evenly;
}

.auto__clicker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.donut__click {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.click__multiplier {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.donut__button {
  width: 340px;
  max-height: 100%;
  cursor: pointer;
}


/* Dropdown Button */

.dropbtn, .dropbtn2, .otherLinks {
  background-color: grey;
  color: white;
  padding: 16px;
  margin: 0px 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn2:hover, .dropbtn:focus, .dropbtn2:focus {
  background-color: greenyellow;
  color: black;
}

.otherLinks:hover, .otherLinks:focus {
  background-color: greenyellow;
  color:black;

}

/* The container <div> - needed to position the dropdown content */
.dropdown, .dropdown2 {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content, .dropdown-content2{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  margin-top: 16px;
  min-width: 500px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content p, .dropdown-content2 p {
  color: black;
  padding: 5px 16px;
  text-decoration: none;
  display: block;
}

.github {
  background-color: #f1f1f1;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover, .dropdown-content2 a:hover {
  background-color: #ddd
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

#canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  pointer-events: none;
}

.reset {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.body {
  width: 100%;
  margin:0px;
  padding:0px;
  overflow: hidden;
}